.__main{
    position: relative;
    margin-bottom: 12px;
    box-shadow: 0px -1px 2px 0px rgba(0,0,0,0.5) inset, 0px 2px 2px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px -1px 2px 0px rgba(0,0,0,0.5) inset, 0px 2px 2px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px -1px 2px 0px rgba(0,0,0,0.5) inset, 0px 2px 2px 0px rgba(0,0,0,0.5);
}

.__main::after{
    content: '';
    position: absolute;
    bottom: -12px;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: #cccccc;
}

.__hero{
    position: relative;
    width: 100%;
    height: 100vh;
    padding-top: 74px;
    margin-top: -74px;
}

.__hero::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../assets/images/hero-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.__hero::after{
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 150px;
    background: url("../assets/images/wavy.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: -15px 0px 15px -15px rgba(0,0,0,.2) inset;
    -webkit-box-shadow: -15px 0px 15px -15px rgba(0,0,0,.2) inset;
    -moz-box-shadow: -15px 0px 15px -15px rgba(0,0,0,.2) inset;
}

.__hero-content{
    position: relative;
    padding: 0 20vw;
    text-align: center;
    color: var(--white);
}

.__hero-title, .__hero-para{
    margin-bottom: 3rem;
}

.__hero-btn{
    padding: 1rem 3rem;
    background-color: var(--green);
    color: var(--white);
    font-size: 24px;
}

.__hero-btn span{
    margin-left: 6px;
}
/* about */
.__about{
    position: relative;
    padding: 3rem 20vw 1rem;
    text-align: center;
    color: var(--shade);
    box-shadow: -15px 0px 15px -15px rgba(0,0,0,.2) inset;
    -webkit-box-shadow: -15px 0px 15px -15px rgba(0,0,0,.2) inset;
    -moz-box-shadow: -15px 0px 15px -15px rgba(0,0,0,.2) inset;
}

.__about-title{
    color: var(--dark-blue);
    margin-bottom: 2rem;
}

.__about-para{
    padding: 0 50px;
}

/* section 2 portfolio */
.__portfolio{
    display: flex;
    flex-wrap: wrap;
    background-color: var(--dark-grey);
}

.__portfolio-head{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: var(--white);
    font-style: italic;
}
.__portfolio-grid,
.__portfolio-service{
    flex: 2;
    background-color: var(--dark-purple);
    color: var(--pink);
}

.__portfolio-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
    padding-left: 5rem;
    padding-bottom: 7rem;
}

.__grid{
    padding: 2rem;
    background-color: var(--purple);
}

.__grid-icon{
    margin-bottom: 2rem;
}

.__grid-icon span{
    font-size: 5rem;
}

.__grid-title,
.__service-title{
    margin-bottom: 1rem;
    color: var(--peach);
}

.__grid-para,
.__service-para{
    line-height: 170%;
}

.__portfolio-service{
    padding: 3rem 5rem 0 3rem;
}

.__service-para{
    margin-bottom: 1rem;
}

.__service-util{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 5rem;
}

.__service-link{
    color: var(--white);
    padding: 1rem 2rem;
    border: 1px solid var(--pink);
    text-decoration: none;
    margin-right: 2rem;
}

@media screen and (max-width:1023px) {
    .__hero{
        padding-top: 68px;
        margin-top: -68px;
    }

    .__hero::after{
        box-shadow: unset;
        -webkit-box-shadow: unset;
        -moz-box-shadow: unset;
    }

    .__hero-content{
        position: absolute;
        top: 25%;
        left: 0;
        width: 100%;
        padding: 0 1rem;
    }

    .__hero-title{
        margin-bottom: 2rem;
    }

    .__hero-para{
        margin-bottom: 2rem;
    }

    .__hero-btn{
        padding: 1rem 2rem;
        font-size: 14px;
    }

    .__about{
        padding: 1rem;
        box-shadow: unset;
        -webkit-box-shadow: unset;
        -moz-box-shadow: unset;
    }

    .__about-title{
        margin-bottom: 1rem;
    }

    .__about-para{
        padding: 0;
    }

    .__portfolio-grid,
    .__portfolio-service,
    .__portfolio-head{
        flex: unset;
        width: 100%;
    }
    
    .__portfolio-grid,
    .__portfolio-service,
    .__portfolio-head{
        min-height: 300px;
    }

    .__portfolio-grid,
    .__portfolio-service{
        padding: 1rem;
    }
    
    .__portfolio-grid{
        gap: 1rem;
    }

    .__grid{
        padding: 1rem;
    }

    .__grid-para,
    p:not(.__service-para.__txt-para-2){
        font-size: 12px;
    }

    .__service-util{
        margin-top: 2rem;
    }

    .__service-link {
        font-size: 12px;
        padding: 10px 12px;
    }
}

@media screen and (min-width:1024px) and (max-width:1408px) {
    .__hero{
        padding-top: 65px;
        margin-top: -65px;
    }
    
    .__hero-btn{
        font-size: 18px;
    }

    .__grid{
        padding: 1rem;
    }

    .__portfolio-grid{
        padding-left: 2rem;
        padding-bottom: 4rem;
    }

    .__portfolio-service{
        padding: 2rem 5rem 0 2rem;
    }

    .__grid-para, .__service-para{
        font-size: 12px;
        line-height: normal;
    }

    .__service-link{
        font-size: 14px;
    }
}